<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale =1.0">
        <meta http-esquiv="X-UA-Compatible" content="ie=edge">
        <title>Dashboard</title>
        <link rel="stylesheet" href="/static/style.css">
        <link rel="icon" href="/favicon.ico" type ="image/x-icon">
    </head>

    <body style="background-color:#f2f2f2; margin:0">
        <div class="nav_bar">
            <a href="/">Marketplace</a>
            <a href="/dashboard"class="active">Dashboard</a>
            <div class="nav_bar_right">

                <div style="position:relative; display: inline-block;">
                    <img src="https://i.pinimg.com/736x/9a/9d/bb/9a9dbb94c8b4032b463e206275d965d3.jpg" alt="Avatar" class="settings_icon" onclick="show_dropdown()">

                    <div class="settings_drop_down">
                        <a href="/profile" class="settings_drop_down_link">Profile</a>
                        <a href="/logout"class="settings_drop_down_link">Logout</a>

                    </div>

                </div>
        </div>

    </body>
</html>
